HELP.md

# IntelliJ IDEA
.idea

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Maven-specific
/mavenHomeManager.xml

# Datasource local storage
/dataSources/
/dataSources.local.xml
